body {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,98,158,1) 0%, rgba(0,212,255,1) 100%);
}

.container {
	padding: 0px;
}

/* Elements from div to add a new task  */

#task-create-control {
	position: sticky;
	top: 0;
	z-index: 100;
}

#todo-title {
	width: 50%;
}

@media screen and (max-width: 600px) {
  #date-picker {
  	width: 100%;
  	margin: 0px;
  }
}

.input-group {
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}

.form-control, #btn-add {
	border-radius: 0px;
}

/* List of ToDos added */

#todo-list {
	margin-top: 6px;
}

.list-group {
	border-radius: 0px 4px;
}

.list-group-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 4px;

}

/* Elements from the left in todos */
.div-todo-left-items {
	display: flex;
}

.checkbox-todo {
	margin-right: 6px;
	border: 1px solid black;
}

.task-title-text {
	cursor: pointer;
}

.dueDate {
	border-radius: 8px;
	box-shadow: 0 0 4px 1px seagreen;	
	padding:  1px 6px;
	margin-left: 4px;
}


/* Elements from the right of todos */
.edit-btn {
	margin-right: 4px;
	margin-left: 1px;
}


/* TextArea Desription */
.todo-description {
	resize: none;
}

.hidden-description {
	display: none;
}

/* Effects */
@keyframes warning-blink {
	0% {border-color:red;box-shadow: inset 0 0 10px 2px red;}
}

.warning {
  animation: warning-blink 0.5s ease-out 2;
}
